.main-games {
  min-height: calc(100vh - var(--header-h) - var(--main-b-gap) - var(--footer-h) + 1rem);
  margin-top: var(--header-h);
  padding-top: 3rem;
}
.main-games h1 {
  color: var(--font-color);
  font: 700 2.5rem var(--f1);
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}
.main-games h2 {
  color: var(--font-color);
  font: 700 2rem var(--f1);
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}
.main-games .play-actions {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.game-modes {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: start;
  gap: 1rem;
}
.game-modes .mode {
  flex: 1;
  height: 1;
  background-color: var(--bg-color2);
  border: 1px solid var(--bg-color3);
  border-radius: 0.5rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  transition: 0.15s;
  cursor: pointer;
}
.game-modes .mode h3 {
  color: var(--c6);
  font: 700 2rem var(--f1);
  margin: 0;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.game-modes .mode p {
  opacity: 0.8;
  color: var(--font-color);
  font: 500 1.2rem var(--f1);
  margin: 0;
  text-align: start;
}
.game-modes .mode:hover {
  scale: 1.05;
}
.game-modes .mode:active {
  scale: 1;
}
.game-modes .mode-active {
  border: 3px solid var(--c6);
}

.games-list {
  width: 100%;
  max-width: 85rem;
  padding: 0 0.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}
.games-list .game {
  width: 100%;
  background-color: var(--bg-color2);
  border: 1px solid var(--bg-color3);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  transition: 0.12s;
}
.games-list .game .text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}
.games-list .game .text .img-cont {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.games-list .game .text .img-cont img {
  width: 80%;
  margin: 0 auto;
}
.games-list .game .text .group {
  display: flex;
  gap: 0.8rem;
}
.games-list .game .text .s2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.games-list .game .text .s2 .game-name {
  color: var(--font-color);
  font: 600 1.2rem var(--f1);
}
.games-list .game .text .s2 .actions {
  display: flex;
  gap: 0.5rem;
}
.games-list .game .text .s2 .actions button, .games-list .game .text .s2 .actions a {
  font-size: 1rem;
  padding: 0.4rem 1.8rem;
}
.games-list .game .text .s3 {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.games-list .game .text .s3 .button-dots {
  color: var(--font-color);
  aspect-ratio: 1/1;
  width: 2.5rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.12s;
}
.games-list .game .text .s3 .button-dots:hover {
  background-color: var(--bg-color3);
}
.games-list .game .text .s3 .popup {
  background-color: var(--bg-color2);
  border: 2px solid var(--bg-color3);
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 2.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 10;
}
.games-list .game .text .s3 .popup button, .games-list .game .text .s3 .popup a {
  width: 100%;
  border: 1px solid var(--bg-color3);
  padding: 0.4rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  white-space: nowrap;
}
.games-list .game .text .s3 .popup .button-edit:hover {
  background-color: var(--bg-color3);
}
.games-list .game .att {
  width: 100%;
  height: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  --game-dif-op: 0.8;
}
.games-list .game .att .game-state {
  color: var(--font-color);
  font: 400 0.9rem var(--f1);
}
.games-list .game .att .game-difficulty {
  color: var(--c1);
  background-color: rgb(199, 199, 199);
  font: 500 0.9rem var(--f1);
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
}
.games-list .game .att .game-difficulty-beginner {
  background-color: var(--c-beginner);
}
.games-list .game .att .game-difficulty-beginner span {
  opacity: var(--game-dif-op);
  color: var(--font-color);
}
.games-list .game .att .game-difficulty-easy {
  background-color: var(--c-easy);
}
.games-list .game .att .game-difficulty-easy span {
  opacity: var(--game-dif-op);
  color: var(--font-color);
}
.games-list .game .att .game-difficulty-medium {
  background-color: var(--c-medium);
}
.games-list .game .att .game-difficulty-medium span {
  opacity: var(--game-dif-op);
  color: var(--font-color);
}
.games-list .game .att .game-difficulty-hard {
  background-color: var(--c-hard);
}
.games-list .game .att .game-difficulty-hard span {
  opacity: var(--game-dif-op);
  color: var(--font-color);
}
.games-list .game .att .game-difficulty-extreme {
  opacity: 0.45;
  background-color: var(--bg-contr);
}
.games-list .game .att .game-difficulty-extreme span {
  color: var(--font-contr);
}
.games-list .game .game-board-container {
  width: 100%;
  pointer-events: none;
}
.games-list .game .game-board-container .game-board {
  padding: 0.5rem;
  gap: 0.2rem;
}
.games-list .game-test {
  height: 30rem;
}

.button-main {
  color: var(--c1);
  background-color: transparent;
  font: 500 1rem var(--f1);
  border: 1px solid var(--c1);
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  transition: 0.12s;
  cursor: pointer;
}

.button-main:hover {
  color: var(--c2);
  background-color: var(--c1);
}

.button-warning {
  color: var(--c-warn);
  border-color: var(--c-warn);
}

.button-warning:hover {
  color: var(--font-contr);
  background-color: var(--c-warn);
}/*# sourceMappingURL=game-list.css.map */