:root {
  --c1: #080808;
  --c2: #1A1A1A;
  --c3: #F6F6F6;
  --c4: #FFFFFF;
  --c5: #E31837;
  --c6: #0070BB;
  --c6-2: rgba(0, 112, 187, 0.8);
  --c7: #395A9A;
  --c8: #724479;
  --c9: #AB2E58;
  --c10: #f7f7f7;
  --c11: rgba(227, 24, 54, 0.8);
  --c12: rgba(0, 112, 187, 0.8);
  --c13: #d4d4d4;
  --c14: #111111;
  --c15: #2e2e2e;
  --c-warn: rgb(247, 66, 66);
  --c-win: rgba(255, 208, 0, 0.6);
  --c-win-2: rgba(212, 173, 0, 0.8);

  --c-beginner: rgba(21, 255, 0, 0.3);
  --c-easy: rgba(102, 255, 0, 0.3);
  --c-medium: rgba(238, 255, 0, 0.3);
  --c-hard: rgba(255, 72, 0, 0.3);
  --c-extreme: rgb(199, 199, 199);

  --c-acc-wins: rgb(39, 189, 39);
  --c-acc-losses: rgb(207, 38, 38);
  --c-acc-draws: rgb(133, 133, 133);

  --c-test-1: rgb(34, 197, 143);

  --f1: "Dosis";
  --f2: "Poppins";
  --f3: "Rubik";

  --f-test-1: #2e2e2e;
  --f-test-2: #cccccc;

  --header-h: 6.2rem;
  --footer-h: 5.5rem;
  --main-b-gap: 5rem;
}
.theme-light {
  --font-color: var(--c2);
  --font-contr: var(--c3);
  --bg-color: var(--c3);
  --bg-color2: var(--c10);
  --bg-color3: var(--c13);
  --bg-contr: var(--c2);
}
.theme-dark {
  --font-color: var(--c3);
  --font-contr: var(--c2);
  --bg-color: var(--c2);
  --bg-color2: var(--c14);
  --bg-color3: var(--c15);
  --bg-contr: var(--c3);
}
body {
  background-color: var(--bg-color);
  font-family: var(--f1);
  margin: 0;
  transition: color .12s background-color .12s;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hiding scrollbar */
  overflow-x: hidden;

  --opacity: 0.25;
  --from-edge: 40%;
}
body * {
  box-sizing: border-box;
}
h2 {
  /* opacity: 1.0; */
  color: var(--font-color);
  font: 600 1.3rem var(--f1);
  margin: 0;
}
h3 {
  color: var(--c6);
  font: 700 2.0rem var(--f1);
  margin: 0;
}
p {
  color: var(--font-color);
  font: 500 1.5rem var(--f1);
  margin: 0;
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 0.5rem; /* Width of the scrollbar */
  height: 0.5rem; /* Height of the scrollbar (for horizontal scrollbars) */
}
::-webkit-scrollbar-track {
  background: var(--bg-contr); /* Background of the scrollbar track */
}
::-webkit-scrollbar-thumb {
  background: var(--c6); /* Color of the scrollbar thumb */
  border-radius: 0.2rem; /* Rounded corners for the thumb */
  transition: .12s;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c6-2);
}