.bg-grad {
    background: rgb(227,24,55);
    background: linear-gradient(90deg, rgba(227,24,55, var(--opacity)) 0%, rgba(111,69,122,0) var(--from-edge), rgba(42,96,162,0) calc(100% - var(--from-edge)), rgba(0,112,187, var(--opacity)) 100%);
    //height: 200vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
header {
    color: var(--c3);
    background-color: var(--c6);
    font: 700 1.4rem var(--f1);
    width: 100%;
    height: var(--header-h);
    border-bottom: 1.0rem solid var(--bg-contr);
    padding: 0.9rem 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;

    img {
        height: 120%;
    }
    a {
        color: var(--c3) !important;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .line {
            background-color: var(--c3);
            width: 0%;
            height: 0.2rem;
            border-radius: 0.5rem;
            position: absolute;
            bottom: -0.1rem;
            transition: .12s;
        }
    }
    a:hover,
    .header-active {
        .line {
            width: 80%;
        }
    }
    .actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .actions-2 {
        display: flex;
        align-items: center;
        gap: 1.0rem;

        .theme-switch {
            opacity: 0.9;
            color: var(--c3);
            background-color: transparent;
            font-size: 1.6rem;
            aspect-ratio: 1/1;
            width: fit-content;
            height: fit-content;
            border: none;
            border-radius: 2.0rem;
            padding: 0.5rem 0.8rem;
            transition: .12s;
            cursor: pointer;
        }
        .theme-switch:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    .burger-menu {
        display: none;
        align-items: center;
        gap: 0.5rem;

        .burger-button {
            color: var(--c3);
            background-color: transparent;
            font-size: 1.4rem;
            aspect-ratio: 1/1;
            height: 100%;
            border: none;
            border-radius: 50%;
            padding: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .12s;
            cursor: pointer;
        }
        .burger-button:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        .theme-switch {
            opacity: 0.9;
            color: var(--c3);
            font-size: 1.6rem;
            background-color: transparent;
            width: fit-content;
            height: fit-content;
            border: none;
            cursor: pointer;
        }
        .burger-nav {
            position: absolute;
            top: var(--header-h);
            right: 0;
            background-color: var(--c6);
            width: 100%;
            padding: 0 0.5rem;
            padding-bottom: 1.0rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.5rem;

            a {
                width: 100%;
            }
        }
    }
}
main {
    width: 100%;
    //height: calc(100vh - var(--header-h) - var(--main-b-gap));
    //min-height: 50rem;
    min-height: calc(100vh - var(--header-h) - var(--main-b-gap));
    margin-top: var(--header-h);
    padding: 1.0rem 0 2.0rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 8rem;
    }
    h1 {
        color: var(--font-color);
        margin: 1.0rem 0;
        margin-bottom: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main {
            font: 800 4.0rem var(--f1);
            text-align: center;
        }
        .sec {
            font: 700 2.4rem var(--f1);
        }
    }
    p {
        font: 400 1.8rem var(--f1);
        max-width: 50rem;
        margin: 1.5rem 0;
        text-align: center;
    }
    nav {
        padding: 0 0.5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.0rem;
    }
}
.sec-ai {
    width: 100%;
    max-width: 85rem;
    margin: 0 auto;
    padding: 0 0.5rem;
    padding-bottom: 3.0rem;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3.0rem;

    .s1 {
        display: flex;
        flex-direction: column;
        
        .text {
            display: flex;
            align-items: end;
            gap: 1.5rem;

            p {
                margin: 1.0rem 0;
            }
            img {
                opacity: 0.8;
                width: 10rem;
            }
        }
        .actions {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
    }
    .s2 {
        .board {
            aspect-ratio: 1/1;
            width: 30rem;

            .game-board-container {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.sec-texts {
    width: 100%;
    max-width: 85rem;
    margin: 0 auto;
    margin-top: 4.0rem;
    padding: 0 0.5rem;
    padding-bottom: 3.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .group {
        width: 100%;
        margin-top: 1.0rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 1.0rem;
    }
    .text {
        flex: 1;
        height: 1;
        background-color: var(--bg-color2);
        border: 1px solid var(--bg-color3);
        border-radius: 0.5rem;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        transition: .15s;
        cursor: pointer;

        h3 {
            color: var(--c6);
            font: 700 2.0rem var(--f1);
            margin: 0;
            margin-bottom: 0.5rem;
            text-wrap: nowrap;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.8rem;
        }
        p {
            opacity: 0.8;
            color: var(--font-color);
            font: 500 1.2rem var(--f1);
            margin: 0;
            text-align: start;
        }
        .link-icon {
            opacity: 0.3;
            color: var(--font-color);
            font-size: 1.3rem;
            margin-left: 0.2rem;
        }
    }
    .text:hover {
        border: 3px solid var(--c6);
        scale: 1.05;

        h3 span {
            text-decoration: underline;
        }
    }
    .text:active {
        scale: 1.0;
    }
}
footer {
    color: var(--font-contr);
    background-color: var(--bg-contr);
    width: 100%;
    height: var(--footer-h);
    margin-top: 4rem;
    margin-bottom: -1.5rem;
    padding: 1.5rem 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .names {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 2.0rem;

        img {
            height: 100%;
        }
        .team {
            opacity: 0.6;
            font: 500 1.1rem var(--f1);
        }
        .buraci-link {
            color: inherit;
            text-decoration: none;
        }
        .buraci-link:hover {
            text-decoration: underline;
        }
    }
    .social {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1.0rem;

        a {
            color: var(--font-contr);
            font-size: 2.0rem;
            transition: .12s;
        }
        a:hover {
            scale: 0.95;
        }
    }
}
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
b {
    font-weight: inherit;

    &.b-red {
        color: var(--c5);
        font-weight: 600;
    }
    &.b-blue {
        color: var(--c6);
        font-weight: 600;
    }
}
.button {
    color: var(--font-color);
    background-color: transparent;
    font: 700 1.2rem var(--f1);
    width: fit-content;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .12s;
    cursor: pointer;

    &.button-1 {
        font: 600 1.6rem var(--f1);
    }
    &.button-2 {
        font: 700 1.4rem var(--f1);
    }
    &.button-empty {
        color: var(--font-color);
        background-color: transparent;
        font-weight: 600;
        border: 0px solid var(--font-color);
    }
    &.button-black {
        color: var(--c4);
        background-color: var(--c2);
        border: 0px solid var(--c2);
    }
    &.button-red {
        color: var(--c4);
        background-color: var(--c5);
        border: 0px solid var(--c5);
    }
    &.button-blue {
        color: var(--c4);
        background-color: var(--c6);
        border: 0px solid var(--c6);
    }
    &.button-border {
        color: var(--font-color);
        background-color: transparent;
        border-width: 1px;
    }
}
.button:hover {
    opacity: 0.8;
    scale: 0.96;
}
.replay {
    color: var(--font-color);
    background-color: var(--bg-color2);
    font: 600 1.1rem var(--f1);
    border: none;
    border-radius: 0.4rem;
    padding: 0.4rem 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: .12s;
    cursor: pointer;

    i {
        font-size: 1.0rem;
    }
}
.replay:hover {
    opacity: 0.8;
}
.replay:focus {
    outline: none;
}
input[type=text] {
    color: var(--c1);
    background-color: transparent;
    font: 500 1.0rem var(--f1);
    width: 100%;
    border: 1px solid var(--c1);
    border-radius: 0.5rem;
    padding: 0.4rem 0.6rem;
    transition: .12s;
}

.anim {
    &.anim-slide-from-down {
        opacity: 0;
        animation: slide-from-down 0.3s ease-in-out forwards;
    }
    &.anim-scale-up {
        animation: scale-up 0.3s ease-in-out;
  }
}

@keyframes scale-up {
    from {scale: 0;}
    to {scale: 1;}
}
@keyframes scale-down {
    from {scale: 1;}
    to {scale: 0;}
}
@keyframes scale-pop {
    0% {scale: 1;}
    50% {scale: 1.4;}
    100% {scale: 1;}
}
@keyframes slide-from-down {
    0% {
        opacity: 0;
        transform: translateY(5.0rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1250px) {
    .sec-texts {
        .group {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media screen and (max-width: 1150px) {
  .sec-ai {
      flex-direction: column;
      align-items: center;

      .s1 {
          .text {
              margin-bottom: 1.0rem;
              flex-direction: column;
              align-items: start;
              gap: 0.5;
          }
          .actions {
              justify-content: center;
          }
      }
      .s2 {
          .board {
              width: 100%;
          }
      }
  }
}
@media screen and (max-width: 900px) {
    header {
        .actions, .actions-2 {
            display: none;
        }
        .burger-menu {
            display: flex;
        }
    }
}
@media screen and (max-width: 850px) {
    .sec-texts {
        .group {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
@media screen and (max-width: 500px) {
    :root {
        --footer-h: 10.0rem;
    }
    main nav {
        a {
            width: 100% !important;
        }
    }
    .sec-ai {
        .text {
            p {
                text-align: center;
            }
        }
        a {
            width: 100%;
        }
    }
    footer {
        .names {
            flex-direction: column;
            align-items: start;
            gap: 0.5rem;

            img {
                height: 50%;
            }
        }
        .social {
            align-items: start;
        }
    }
}
@media screen and (max-width: 340px) {
    :root {
        --footer-h: 12rem;
    }
    footer {
        flex-direction: column;
        align-items: start;

        img {
            width: 100%;
        }
    }
}