.main-tda {
  min-height: calc(100vh - var(--header-h) - var(--main-b-gap) - var(--footer-h) + 1rem);
  margin-top: var(--header-h);
  padding-top: 3rem;
}
.main-tda .sec-team {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main-tda .sec-team h3 {
  margin-bottom: 0.8rem;
}
.main-tda .sec-team img {
  height: 12rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.main-tda .sec-team .text-team {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.main-tda .sec-team .bold-text-team {
  font-weight: bold;
}
.main-tda .sec-team-cards {
  margin-top: 5rem;
}
.main-tda .sec-team-cards .card {
  width: 12rem;
  height: 12rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 2.25rem;
  perspective: 156.25rem;
  margin: 0 3.125rem;
  border-radius: 0.3125rem;
}
.main-tda .sec-team-cards .cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3125rem; /* 5px to rem */
}
.main-tda .sec-team-cards .wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 0.3125rem; /* 5px to rem */
}
.main-tda .sec-team-cards .card:hover .wrapper {
  transform: perspective(56.25rem) translateY(-5%) rotateX(25deg) translateZ(0); /* 900px to rem */
  box-shadow: 0.125rem 2.1875rem 2rem -0.5rem rgba(0, 0, 0, 0.75); /* Converted px to rem */
  -webkit-box-shadow: 0.125rem 2.1875rem 2rem -0.5rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.125rem 2.1875rem 2rem -0.5rem rgba(0, 0, 0, 0.75);
  border-radius: 0.3125rem; /* 5px to rem */
}
.main-tda .sec-team-cards .wrapper::before,
.main-tda .sec-team-cards .wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 5vh; /* 80px to vh */
  transition: all 0.5s;
  position: absolute;
  left: 0;
  border-radius: 0.3125rem; /* 5px to rem */
}
.main-tda .sec-team-cards .wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
  border-radius: 0.3125rem; /* 5px to rem */
}
.main-tda .sec-team-cards .wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
  border-radius: 0.3125rem; /* 5px to rem */
}
.main-tda .sec-team-cards .card:hover .wrapper::before,
.main-tda .sec-team-cards .wrapper::after {
  opacity: 1;
}
.main-tda .sec-team-cards .card:hover .wrapper::after {
  height: 7.5vh; /* 120px to vh */
}
.main-tda .sec-team-cards .title {
  width: 100%;
  transition: transform 0.5s;
}
.main-tda .sec-team-cards .card:hover .title {
  transform: translate3d(0%, -3.125rem, 6.25rem); /* 50px, 100px to rem */
}
.main-tda .sec-team-cards .character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.main-tda .sec-team-cards .card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -1.875rem, 6.25rem); /* 30px, 100px to rem */
}
.main-tda .sec-team-cards a {
  text-decoration: none;
  color: var(--c3);
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 2px 2px black;
}
.main-tda .sec-team-cards .group {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=team-page.css.map */