.main-user {
  min-height: calc(100vh - var(--header-h) - var(--main-b-gap) - var(--footer-h) + 1rem);
  margin-top: var(--header-h);
  padding-top: 3rem;

  h1 {
    color: var(--font-color);
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  .info {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 1.5rem;

    .subinfo {
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      gap: 1.5rem;
    }
    .profile-pic {
      background-color: var(--bg-color3);
      aspect-ratio: 1/1;
      width: 8rem;
      border-radius: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .admin {
        font-size: 0.7rem;
        width: 1.6rem;
      }
      .username-letter {
        font: 600 3.5rem var(--f1);
      }
    }
    .s1 {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.3rem;

      .username {
        font: 600 2.5rem var(--f1);
        margin: 0;
      }
      .elo {
        opacity: 0.8;
        color: var(--font-color);
        font: 600 1.6rem var(--f1);
        display: flex;
        align-items: center;
        gap: 0.5rem;

        i {
          color: var(--c-win-2);
          font-size: 1.3rem;
        }
        .index {
          font: 500 1.2rem var(--f1);
          margin-left: 0.6rem;
        }
      }
      .timestamp {
        opacity: 0.6;
        color: var(--font-color);
        font: 500 1.2rem var(--f1);
        margin-top: 0.5rem;
      }
    }
    .user-data {
      padding-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2.5rem;

      .item {
        aspect-ratio: 1/1;
        width: 3.6rem;
        border: 0px solid var(--font-color);
        border-radius: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.0rem;

        .value {
          color: var(--font-color);
          font: 700 2.4rem var(--f1);
        }
        .label {
          color: var(--font-color);
          background-color: transparent;
          font: 500 1.5rem var(--f1);
          border-radius: 0.2rem;
          padding: 0.05rem 0.2rem;
          //position: absolute;
          bottom: -0.6rem;
        }

        &.item-wins {
          color: var(--c-acc-wins);
          border-color: var(--c-acc-wins);
        }
        &.item-losses {
          color: var(--c-acc-losses);
          border-color: var(--c-acc-losses);
        }
        &.item-draws {
          color: var(--c-acc-draws);
          border-color: var(--c-acc-draws);
        }
      }
    }
  }
  .game-history {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.0rem;

    .games {
      .game-board {
        pointer-events: none;
      }
    }
  }
}